<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480764972806-ihc9k3c292b0onhaalffsq9iqlfg917r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480764972806-ihc9k3c292b0onhaalffsq9iqlfg917r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>480764972806-6apf537mo6j6q1bje2eqnagedg5ks5fr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAeJIKbirHJSgzO_U942QVebsE38Vx3das</string>
	<key>GCM_SENDER_ID</key>
	<string>480764972806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miprocesoapp</string>
	<key>PROJECT_ID</key>
	<string>jiacp-legalapp-development</string>
	<key>STORAGE_BUCKET</key>
	<string>jiacp-legalapp-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480764972806:ios:9a852990343bbb54219887</string>
	<key>DATABASE_URL</key>
	<string>https://jiacp-legalapp-development.firebaseio.com</string>
</dict>
</plist>